In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
    .master("local[2]")\
    .appName("Lesson_2")\
    .config("spark.executor.instances",2)\
    .config("spark.executor.memory",'2g')\
    .config("spark.executor.cores",1)\
    .getOrCreate()
sc = spark.sparkContext

# Самостоятельная работа к уроку 4
На уроке мы попробовали оконные и пользовательские функции. Теперь закрепим полученные знания.

## Данные: [google drive: raw_sales.csv](https://drive.google.com/file/d/1G2N7Mnt4-Tqz4JdJxutGDMbJiOr32kZp/view?usp=sharing)

 Каждая строчка это продажа жилья, которая состоит из следующих полей (думаю описание не требуется):
*   date of sale
*   price
*   property type
*   number of bedrooms
*   4digit postcode

In [11]:
df = spark.read.csv('raw_sales.csv', header=True, inferSchema=True)
df.printSchema()
df.show(truncate = False)

root
 |-- datesold: timestamp (nullable = true)
 |-- postcode: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- propertyType: string (nullable = true)
 |-- bedrooms: integer (nullable = true)

+-------------------+--------+-------+------------+--------+
|datesold           |postcode|price  |propertyType|bedrooms|
+-------------------+--------+-------+------------+--------+
|2007-02-07 00:00:00|2607    |525000 |house       |4       |
|2007-02-27 00:00:00|2906    |290000 |house       |3       |
|2007-03-07 00:00:00|2905    |328000 |house       |3       |
|2007-03-09 00:00:00|2905    |380000 |house       |4       |
|2007-03-21 00:00:00|2906    |310000 |house       |3       |
|2007-04-04 00:00:00|2905    |465000 |house       |4       |
|2007-04-24 00:00:00|2607    |399000 |house       |3       |
|2007-04-30 00:00:00|2606    |1530000|house       |4       |
|2007-05-24 00:00:00|2902    |359000 |house       |3       |
|2007-05-25 00:00:00|2906    |320000 |house       |3       |
|2007-06-26 00:00:00|2902    |385000 |house       |3       |
|2007-06-27 00:00:00|2906    |305000 |house       |3       |
|2007-06-27 00:00:00|2612    |850000 |house       |4       |
|2007-06-28 00:00:00|2904    |765000 |house       |4       |
|2007-06-30 00:00:00|2615    |517000 |house       |4       |
|2007-07-02 00:00:00|2914    |800000 |house       |5       |
|2007-07-03 00:00:00|2906    |336000 |house       |3       |
|2007-07-06 00:00:00|2615    |535000 |house       |5       |
|2007-07-07 00:00:00|2602    |900000 |house       |4       |
|2007-07-08 00:00:00|2600    |327000 |house       |1       |
+-------------------+--------+-------+------------+--------+
only showing top 20 rows

## Задание 1
Добавьте к таблице следующие поля:
*  Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode)
*  Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode)
*  Стоимость последнего проданного дома до текущего

In [12]:
from pyspark.sql import Window
import pyspark.sql.functions as F

windSpec_before = Window()\
    .partitionBy('postcode')\
    .orderBy('datesold')\
    .rowsBetween(Window.currentRow - 11, Window.currentRow - 1)

df.withColumn('avg_before', F.avg('price').over(windSpec_before)).show(10)

+-------------------+--------+-------+------------+--------+-----------------+
|           datesold|postcode|  price|propertyType|bedrooms|       avg_before|
+-------------------+--------+-------+------------+--------+-----------------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|             null|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|         327000.0|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|         558500.0|
|2008-01-21 00:00:00|    2600| 315000|        unit|       1|647333.3333333334|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|         564250.0|
|2008-05-30 00:00:00|    2600| 329000|        unit|       2|         509900.0|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|         479750.0|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|         520500.0|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|         571312.5|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|661166.6666666666|
+-------------------+--------+-------+------------+--------+-----------------+
only showing top 10 rows

In [13]:
from pyspark.sql import Window
import pyspark.sql.functions as F

windSpec_before = Window()\
    .partitionBy('postcode')\
    .orderBy('datesold')\
    .rowsBetween(Window.currentRow +1, Window.currentRow +11)

df.withColumn('avg_before', F.avg('price').over(windSpec_before)).show(10)

+-------------------+--------+-------+------------+--------+-----------------+
|           datesold|postcode|  price|propertyType|bedrooms|       avg_before|
+-------------------+--------+-------+------------+--------+-----------------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|706681.8181818182|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|692590.9090909091|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|703954.5454545454|
|2008-01-21 00:00:00|    2600| 315000|        unit|       1|741681.8181818182|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|792818.1818181818|
|2008-05-30 00:00:00|    2600| 329000|        unit|       2|859045.4545454546|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|816772.7272727273|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|775681.8181818182|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|754772.7272727273|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|739772.7272727273|
+-------------------+--------+-------+------------+--------+-----------------+
only showing top 10 rows

In [14]:
from pyspark.sql import Window
import pyspark.sql.functions as F

windSpec_before = Window()\
    .partitionBy('postcode')\
    .orderBy('datesold')\
    .rowsBetween(Window.currentRow - 1, Window.currentRow - 1)

df.withColumn('avg_before', F.sum('price').over(windSpec_before)).show(10)

+-------------------+--------+-------+------------+--------+----------+
|           datesold|postcode|  price|propertyType|bedrooms|avg_before|
+-------------------+--------+-------+------------+--------+----------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|      null|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|    327000|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|    790000|
|2008-01-21 00:00:00|    2600| 315000|        unit|       1|    825000|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|    315000|
|2008-05-30 00:00:00|    2600| 329000|        unit|       2|    292500|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|    329000|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|    765000|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|    927000|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|   1380000|
+-------------------+--------+-------+------------+--------+----------+
only showing top 10 rows

## Задание 2
В итоге у вас таблица с колонками (или нечто похожее):
*   price
*   Среднегодовая цена
*  Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode) (1 балл)
*  Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode) (1 балл)
*  Стоимость последнего проданного дома до текущего ((1 балл)
*  и др.

Посчитайте кол-во уникальных значений в каждой строчке (unique(row)) (ипользуйте udf). Попробуйте сделать то же самое используя pandas udf.

# Задание 3
SQL like case when или if elif else

Создайте колонку, в которой в которой будет отображаться "+", "-" или "=", если "Средняя стомость 10 проданных домов до текущего в том же районе" больше, меньше или равно "Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode)", соотвественно.

Если одно из полей Null, запишите в эту колонку "Нет данных"

In [17]:
df.withColumn('ifelse', F.when(F.col('postcode').isNull() |  F.col('price').isNull(), F.lit('Нет данных')).when(F.col('postcode') > F.col('price'), F.lit('+')).when(F.col('postcode') < F.col('price'), '-').otherwise('=')).show()

+-------------------+--------+-------+------------+--------+------+
|           datesold|postcode|  price|propertyType|bedrooms|ifelse|
+-------------------+--------+-------+------------+--------+------+
|2007-02-07 00:00:00|    2607| 525000|       house|       4|     -|
|2007-02-27 00:00:00|    2906| 290000|       house|       3|     -|
|2007-03-07 00:00:00|    2905| 328000|       house|       3|     -|
|2007-03-09 00:00:00|    2905| 380000|       house|       4|     -|
|2007-03-21 00:00:00|    2906| 310000|       house|       3|     -|
|2007-04-04 00:00:00|    2905| 465000|       house|       4|     -|
|2007-04-24 00:00:00|    2607| 399000|       house|       3|     -|
|2007-04-30 00:00:00|    2606|1530000|       house|       4|     -|
|2007-05-24 00:00:00|    2902| 359000|       house|       3|     -|
|2007-05-25 00:00:00|    2906| 320000|       house|       3|     -|
|2007-06-26 00:00:00|    2902| 385000|       house|       3|     -|
|2007-06-27 00:00:00|    2906| 305000|       house|       3|     -|
|2007-06-27 00:00:00|    2612| 850000|       house|       4|     -|
|2007-06-28 00:00:00|    2904| 765000|       house|       4|     -|
|2007-06-30 00:00:00|    2615| 517000|       house|       4|     -|
|2007-07-02 00:00:00|    2914| 800000|       house|       5|     -|
|2007-07-03 00:00:00|    2906| 336000|       house|       3|     -|
|2007-07-06 00:00:00|    2615| 535000|       house|       5|     -|
|2007-07-07 00:00:00|    2602| 900000|       house|       4|     -|
|2007-07-08 00:00:00|    2600| 327000|       house|       1|     -|
+-------------------+--------+-------+------------+--------+------+
only showing top 20 rows